
<%= form_for @task do |f| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
    <h2>
    <%= pluralize(@task.errors.count, "error") %>
    prohibited this task from being saved:
  </h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
          <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
          </p>

          <p>
    <%= f.label :deadline %>
    <%= f.date_field :deadline %>
    </p>

    <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    </p>
    
  
     <% if request.env['PATH_INFO'] !~ /.*edit.*/ %> 
     <% path = request.env['PATH_INFO'] %>
        <p><h3>Create at least One Subtask for this task</h3></p>

        <%= f.fields_for :subtasks do |subtask_builder| %>
          <fieldset>
          <p>
            <%= subtask_builder.label :title %>
            <%= subtask_builder.text_field :title %>
          </p>

          <p>
          <%= subtask_builder.label :estimated_duration %>
          <%= estimated_select(subtask_builder, path) %>
          </p>
      
          <p>
          <%= subtask_builder.label :actual_duration%>
          <%= actual_select(subtask_builder, path) %>
          </p>
      
          <p>
          <%= subtask_builder.label :priority %>
          <%= priority_select(subtask_builder, path) %>
          </p>

          <p>
            <%= subtask_builder.label :user_ids, "Users" %><br>
            <%= subtask_builder.collection_check_boxes :user_ids, User.all, :id, :username %>
          </p>
          </fieldset>

        <% end %>


    <% end %>


    <br><br>
  

    <%= f.submit %>

<% end %>