
<%= form_for @task do |f| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
    <h2>
    <%= pluralize(@task.errors.count, "error") %>
    prohibited this post from being saved:
  </h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
          <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
          </p>

          <p>
    <%= f.label :deadline %>
    <%= f.date_field :deadline %>
    </p>

    <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    </p>
    
    <% if request.env['PATH_INFO'] =~ /.*new.*/ %>
        <p>Create at least One Subtask for this task</p>
        
            <%= f.fields_for :subtasks do |subtask_builder| %>
                
              <p>
                <%= subtask_builder.label :title %>
                <%= subtask_builder.text_field :title %>
              </p>

              <p>
                <%= subtask_builder.label :estimated_duration%>
                <%= subtask_builder.text_field :estimated_duration %>
              </p>

              <p>
                <%= subtask_builder.label :actual_duration%>
                <%= subtask_builder.text_field :actual_duration %>
                </p>

            <p>
                <%= subtask_builder.label :priority %>
                <%= subtask_builder.text_field :priority %>
                </p>
            
                <p>
                <%= subtask_builder.label :notes %>
                <%= subtask_builder.text_area :notes %>
                </p>

                <h4>Assign at least One Household Member to Subtask</h4>
                <%= subtask_builder.collection_check_boxes :user_ids, User.all, :id, :username %>

            <% end %>
    <% end %>


    <br><br>
  

    <%= f.submit %>

<% end %>