<h1> <%= @task.title %> </h1>

<p>
    <ol>
    <% @task.subtasks.each do |subtask| %>
        <li><%= link_to subtask.title, subtask_path(subtask) %> :
            <ul>
                <% list_users(subtask).each do |user| %>
                    <li><%= user %></li>
                <%end%>
            </ul>
        </li>
    <% end %>
    </ol>
</p>

<%= link_to "Edit Task Info", edit_task_path() %> 

<%= link_to "Add Subtask", new_task_subtask_path(:task_id => @task.id) %> 
<br>
<%= form_for @task, method: :delete do |f| %>
    <p><button type="submit" class="link"><span>Delete Task</span></button></p>
 <% end %>
