<h1>Hello, <%= @user.username %></h1>


<div>First Name: <%= @user.firstname %> </div>
<div>Last Name: <%= @user.lastname %></div>
<div>Email: <%= @user.email %></div>
<div>Role: <%= @user.role %></div>
<div>DOB: <%= @user.birthdate %></div>

<%= link_to "Edit Profile", edit_user(@user) %> |

<%= link_to "Delete User", delete_user(@user) %>
