<p>
<h1>Hello, <%= @user.username %></h1>
</p>

<div>First Name: <%= @user.firstname %> </div>
<div>Last Name: <%= @user.lastname %></div>
<div>Email: <%= @user.email %></div>
<div>Role: <%= @user.role %></div>
<div>DOB: <%= @user.birthdate %></div>

<%= link_to "Edit Profile", edit_user_url(@user) %><br> | 

<%= button_to "Delete My Profile", user_path(@user), method: :delete %> | <br>

 <%= link_to "Create New Task", new_task_url() %><br>

<h2> You are assigned to the following subtasks: </h2>
        <p>
                    <ul>
                        <% @usertasks.each do |usertask| %>
                            <li><%= link_to usertask.subtask.task.title, task_path(usertask.subtask.task) %> - <%= link_to usertask.subtask.title, task_subtask_path(usertask.subtask) %></li>
                        <%end%>
                    <ul>
        </p>


<p>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
<% end %> 
</p>