<div class= "taskshow">
    <h2> <%= @subtask.title %> </h2>
    <h3>&emsp;This subtask is part of: <%= link_to @subtask.task.title, task_path(@subtask.task) %> </h3>
    <h4>&emsp;Status: <%= if @subtask.complete then "complete" else "in progress" end %> </h4>
    <h4>&emsp;Priority: <%= @subtask.priority %> </h4>
    <h4>&emsp;Estimated Duration: <%= @subtask.estimated_duration %> </h4>
    <h4>&emsp;Actual Duration: <%= @subtask.actual_duration %> </h4>
    
    
    <p>
        <h3>The following Users are assigned to this subtask:</h3>
                <ul>
                    <% list_users(@subtask).each do |user| %>
                        <li><%= user %></li>
                      
                    <%end%>
                <ul>
          
    </p>
    
    <br><br>
    <p>
        <%= button_to "Edit Subtask", edit_task_subtask_url(@subtask), method: :get %> <br>

        <%= button_to "Delete Subtask", subtask_path(@subtask), method: :delete %>

    </p>

    <p><%= link_to 'Home', home_url() %></p>
</div>