<h1>Update My Profile</h2>

<div>
  <%= @form_open = '<form action="' + "../../user/#{@user.id}"  + '" method="POST"' + '>' %>
  <input type="hidden" name="_method" value="PATCH">

  <p>
    <label for="user_name">Username:</label>
    <input type="text" id="user_name" name="user[username]" value="<%= @user.username %>">
  </p>


    <p>
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="user[firstname]" value="<%= @user.firstname %>">
    </p>

    <p>
      <label for="first_name">Last Name:</label>
      <input type="text" id="last_name" name="user[lastname]" value='<%= @user.lastname %>'>
    </p>

    <p>
      <label for="email">Email:</label>
      <input type="text" id="email" name="user[email]" value='<%= @user.email %>'>
    </p>

    <p>
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="user[birthdate]" value='<%= @user.birthdate %>'>
    </p>

    <p>
      <label for="role">Role:</label>
      <input type="text" id="role" name="user[role]" value="<%= @user.role %>">
    </p>

    <input type="Submit" value="Save Changes to Profile">
  </form>
</div>


<div>
  <%= @form_open = '<form action="' + "../../user/#{@user.id}/delete"  + '" method="POST"' + '>' %>
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete User">
    </form>
</div>

<%= @add_link = '<a href="' + "../user/#{@user.id}" + '">' + "My Profile" + '</a>' %> | <a href= "../user/logout">Log Out</a>
