
<div style="color:red;">
<% flash.keys.each do |type| %>
    <%= flash[type] %>
<% end %>
  </div>

<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="user[username]"></p>
  <p>Email: <input type="text" name="user[email]"></p>
  <p>Password: <input type="text" name="user[password]"></p>
  <p>First Name: <input type="text" name="user[firstname]"></p>
  <p>Last Name: <input type="text" name="user[lastname]"></p>
  <p>Role: <input type="text" name="user[role]"></p>
  <p>Birthdate: <input type="date" name="user[birthdate]"></p>
  <input type="submit" value= "Sign Up">
</form>

<br>
<a href="../">Home Page</a> | <a href="../user/login">Log In</a>



<%= form_for @user, controller: 'users', action: 'create' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :password %>
    <%= f.password_field :password %>
  
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  
    <%= f.submit "create" %>
  <% end %>
