
<%= form_for @usertask  do |f| %>
    <% if @usertask.errors.any? %>
      <div id="error_explanation">
        <h2>
        <%= pluralize(@usertask.errors.count, "error") %>
        prohibited this usertask from being saved:
      </h2>
        <ul>
          <% @usertask.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <p>
        <%= f.label :comment %>
        <%= f.text_area :comment %>
    </p>


    <%= f.submit %>

<% end %>